{% extends 'global/portfolio/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Portfolio{% endblock title %}

{% block content %}
{% include 'global/portfolio/partials/_header.html' %}
  <section aria-label="Section, resume download and social links" class="selection-div" id="home">
    <div>
      <h2>{% trans 'Hello! I am' %}</h2>
      <h2 class="typing">{% trans 'Full Stack Developer' %}</h2>
      <div class="links">
        {% if site_setup.cv %}
        <a href="{{ site_setup.cv.url }}" download="Rafael_Rosa_CV"><i
            class="fa-solid fa-file-arrow-down"></i>CV</a>
        {% endif %}
        <a href="https://br.linkedin.com/in/rarorza" target="_blank" rel="noreferrer"><i
            class="fa-brands fa-linkedin-in"></i>LinkedIn</a>
        <a href="https://github.com/rarorza" target="_blank" rel="noreferrer"><i class="fa-brands fa-github"></i>GitHub</a>
      </div>
    </div>
    <img src="{% static 'global/img/sample.png' %}" alt="Illustrative image of a man's face" />
  </section>
  <section>
    {% include "global/portfolio/partials/_messages.html" %}
    <article aria-label="About me section" class="about-me" id="about-me">
      <div class="about_me_title">
        <h2{% trans 'About me' %}></h2>
        <p>{% trans 'Professional profile' %}</p>
        <div aria-label="Buttons illustrations section">
          <span></span>
        </div>
      </div>
      {% if site_setup.profile_pic %}
        <img src="{{ site_setup.profile_pic.url }}" alt="Image of an illustrative person">
      {% else %}
        <img src="{% static 'global/img/self.png' %}" alt="Image of an illustrative person">
      {% endif %}
      <div class="about_me_content">
        <div class="about_me_text">
          <h1>{% trans 'I am Rafael' %}</h1>
          <p>
            {% if html_language == "pt-br" %}
              {% for phrase in about_me_pt %}
                {{phrase}}
                <br><br>
              {% endfor %}
            {% else %}
              {% for phrase in about_me %}
                {{phrase}}
                <br><br>
              {% endfor %}
            {% endif %}
          </p>
        </div>
        <div class="sobre_info">
          <p>
            <i class="fa-sharp fa-solid fa-laptop-code"></i>
            {% trans 'Code' %}: {{ site_setup.code_languages }}
          </p>
          <p><i class="fa-solid fa-envelope"></i>
            E-mail: {{ site_setup.email }}
          </p>
        </div>
      </div>
    </article>
  </section>
  <section class="projects" id="projects">
    <div class="my_resume" id="resume">
      <div class="about_me_title">
        <h2>{% trans 'Resume' %}</h2>
        <p>{% trans 'A brief summary of my professional and academic experiences'%}</p>
        <div aria-label="Buttons illustrations section">
          <span></span>
        </div>
      </div>
      <div class="resume_general">
        <h2 class="experience"></i>{% trans 'CAREER' %}</h2>
        {% include "portfolio/partials/_experience_job.html" %}
        <h2 class="education"></i>{% trans 'EDUCATION' %}</h2>
        {% include "portfolio/partials/_experience_education.html" %}
      </div>
    </div>
    <div class="about_me_title">
      <h2>{% trans 'Projects' %}</h2>
      <p>{% trans 'My projects' %}</p>
      <div aria-label="Project grid section">
        <span></span>
      </div>
    </div>
    <div class="projects_storage">
      <ul>
        {% include "portfolio/partials/_project.html" %}
      </ul>
    </div>
  </section>
    
  <section class="contact" id="contact-me">
    <div class="about_me_title">
      <h2>{% trans 'Contact' %}</h2>
      <p>{% trans 'Send me an email' %}</p>
      <div aria-label="Project grid section">
        <span></span>
      </div>
    </div>
    
    <form method="POST" action="{% url "portfolio:index-portfolio" %}">
      {% csrf_token %}
      <div class="form-content">
        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">
              {{field.label}}
            </label>
            {{ field }}
            {{ field.errors }}

            {% if field.help_text %}
              <p class="help-text">{{ field.help_text }}</p>
            {% endif %}
          </div>
        {% endfor %}
      </div>

    {% if form.non_field_errors %}
      <div class="form-content">
          <div class="form-group">
            <div class="message error">
              {{ form.non_field_errors }}
            </div>
          </div>
      </div>
    {% endif %}

      <div class="form-content">
        <div class="form-group">
          <button class="btn" type="submit">{% trans 'Send' %}</button>
        </div>
      </div>
    </form>

  </section>
  {% include 'global/portfolio/partials/_footer.html' %}
  <script src="{% static 'global/js/script.js' %}"></script>
{% endblock content %}