<div class="education_content">
  {% for experience in experiences %}
    {% if experience.is_education %}
      <div>
        {% if experience.is_current_experience %}
          <span>{{ experience.start_time | date:'Y' }}-202X</span>
          {% else %}
          <span>{{ experience.start_time | date:'Y' }}-{{ experience.end_time | date:'Y' }}</span>
        {% endif %}
        {% for exp in experiences_translate %}
          {% if exp.id == experience.id %}
            <h3>{{ exp.t_title }}</h3>
            <p>{{ exp.t_description }}</p>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
  <ul>
    {% for experience in experiences %}
      {% if experience.is_education %}
        <li><i class="fa-sharp fa-solid fa-circle"></i></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>