{% for project in projects %}
  <li class="{{ project.category.name }}">
    <div class="container">
      <img src="{{ project.cover.url }}" alt="Description">
      <p><strong>{{ project.name }}</strong><br>{{ project.description }}</p>
      {% if project.deploy_link %}
        <span><a href="{{ project.deploy_link }}">App</a></span>
      {% endif %}
      {% if project.repository_link %}
        <span><a href="{{ project.repository_link }}" target="_blank" rel="noreferrer">GitHub</a></span>
      {% endif %}
    </div>
  </li>
{% endfor %}