@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

:root {
  /* Colors */
  --_clr-base-hue: 213;
  --_clr-primary: var(--_clr-base-hue) 100%;
  --_clr-gray: var(--_clr-base-hue) 10%;

  --clr-whitest: var(--_clr-primary) 100%;
  --clr-white: var(--_clr-primary) 99%;
  --clr-black: var(--_clr-primary) 2%;

  --clr-primary-ltst: var(--_clr-primary) 80%;
  --clr-primary-ltr: var(--_clr-primary) 70%;
  --clr-primary-lt: var(--_clr-primary) 60%;
  --clr-primary-base: var(--_clr-primary) 50%;
  --clr-primary-dk: var(--_clr-primary) 40%;
  --clr-primary-dkr: var(--_clr-primary) 30%;
  --clr-primary-dkst: var(--_clr-primary) 20%;

  --clr-gray-ltst: var(--_clr-gray) 90%;
  --clr-gray-ltr: var(--_clr-gray) 80%;
  --clr-gray-lt: var(--_clr-gray) 70%;
  --clr-gray-base: var(--_clr-gray) 50%;
  --clr-gray-dk: var(--_clr-gray) 30%;
  --clr-gray-dkr: var(--_clr-gray) 20%;
  --clr-gray-dkst: var(--_clr-gray) 10%;

  --clr-white: rgb(245, 245, 255);
  --clr-white-main: #f8fafc;
  --clr-blue-card: #cbd5e1;

  --spacing: 1.5rem;
  --smaller-font-size: 1.4rem;
  --default-border-radius: 4px;
  --transition-fast: 300ms;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(var(--clr-white));
  max-width: 1200px;
  margin: 0 auto;
}